/* Side Images */

.Icon__image{
    margin:12em 30em 0em 20em;
    height: 25em;
}

.img__Company{
    background-image: url("https://abs.twimg.com/sticky/illustrations/lohp_en_1302x955.png");
    height: 48em;
}

/* LOg Content */

.logForm{
    background-color: #000;
    color: #fff;
}
.Form{
    padding-left: 30px;
}
.logform__icon{
    height: 80px;
    margin: 40px 0 40px 0px;
}
.Form>h1{
    letter-spacing: 3px;
    font-size: 66px !important;
    font-weight: 800;
}
.logContent>h4{
    letter-spacing: 1.5px;
    padding: 30px 0;
    margin-bottom:25px;
    font-size: 35px !important;
    font-weight: 400;
}
img{
    height: 30px;
}

.button{
    margin-bottom: 30px;
    width: 20em;
    background-color: #fff;
    color: #000;
    height: 3em;
    padding: 12px 42px;
    border-radius: 5em !important;
    font-weight: 800;
}
button{
    margin-top:-1px !important ;
    font-weight: 500;
    font-size: 16px;
    padding-left:em ;
    background-color: #fff;
    color: #000;
    border: none;
}
.Log__button{

   margin-bottom: 30px;
   width: 20em;
   background-color: rgb(81, 81, 232);
    color: #fff;
    height: 3em;
    padding: 12px 42px;
    border-radius: 5em !important;
    font-weight: 800;
}
.Log__phone{
    margin-top:-1px !important ;
    font-weight: 500;
    font-size: 16px;
    padding-left:3em ;
    background-color: rgb(81, 81, 232);
    color: #fff;
    border: none;
}
.sign__button{
    
   margin-bottom: 30px;
   width: 20em;
   background-color: #000;
   border: 1px solid #fff;
   height: 3em;
   padding: 12px 42px;
   border-radius: 5em !important;
   font-weight: 800;
}
.sign__button>button{
    margin-top:-1px !important ;
    font-weight: 600 !important;
    font-size: 16px;
    padding-left:1.5em ;
    color: rgb(50, 50, 230);
    background-color: #000;
    border: none;
}
.Signin>h2{
    letter-spacing: 0px;
   
    margin-bottom:15px;
    font-size: 20px !important;
    font-weight: 400;
}